.container {
  max-width: 100%;
  margin: 0 auto;
  padding: -20px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  padding: 5px 0;
}

.navbar-brand {
  padding: 0;
}

.nav-item {
  padding: 0 10px;
  position: relative; 
}

.container-fluid {
  padding-top: 5px; 
}

body {
  margin-top: 50px; 
}

/* Estilos para el contador de carrito */
.cart-count {
  position: absolute;
  top: -2px; 
  right: 80px; 
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px; 
  font-weight: bold;
  width: 20px; 
  height: 20px; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}

nav .navbar {
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  padding-bottom: 10px;
}

.logo {
  height: 50px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

.navbar li a .fa-sign-in-alt,
.navbar li a .fa-user-plus,
.navbar li a .fa-shopping-cart {
  margin-right: 5px;
}

  /* Breakpoints para diseño responsivo */
  @media (max-width: 576px) {
    .cart-count {
      left: 10px;
      top:-10px; 
   }

  .nav-link {
      padding: 0 5px; 
  }
  .logo {
    height: 30px;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .cart-count {
    left: 10px;
    top:-10px; 
 }

.nav-link {
    padding: 0 5px; 
}
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .cart-count {
    left: 10px;
    top:-10px; 
 }

.nav-link {
    padding: 0 5px; 
}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .cart-count {
    left: 10px;
    top:-10px; 
 }

.nav-link {
    padding: 0 5px; 
}
}

@media (min-width: 1200px) {
  .cart-count {
    left: 10px;
    top:-10px; 
 }

.nav-link {
    padding: 0 5px; 
}
}