.container .registro{
    background-color: #E5C7A6; 
    border-radius: 8px;
    width: 80%; 
    margin: auto;
  }
  
  h2 {
    color: #007bff; 
  }
  
  input.form-control {
    border-radius: 5px; 
  }
  
  .btn {
    background-color: #28a745; 
    border: none;
    font-weight: bold; 
  }
  
  .btn:hover {
    background-color: #218838; 
  }

  form {
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%;
}