@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* bernardo*/
* {
  box-sizing: border-box;
}

body {
  margin: 0; 
  padding: 0;
  overflow-x: hidden;
  font-family: "Sour Gummy", "Roboto", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #E5C7A6;
  min-width: 320px;
  min-height: 100vh;
}