.container {
    max-width: 100%;
    margin: 0 auto; 
    padding: -20px; 
  }
  
  nav {
    background-color: saddlebrown;
  }
  
  nav .navbar {
    margin-bottom: 0; 
    padding: 0.5rem 1rem;
    padding-bottom: 10px;
  }
  
  .logo {
    height: 50px;
  }